In [13]:
import pandas as pd
import numpy as np

In [14]:
path = "/home/math/putintostyle/cathay2018/cathay2018/raw_data/"

In [15]:
train_info = pd.read_csv(path+"train_data_concat.csv")

In [16]:
train_info.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,OCCUPATION,CHILD_NUM,BUY_MONTH,BUY_YEAR,...,INTEREST6,INTEREST7,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME
0,1,e,h,a,0.379047,0.163892,t28,2,6,T,...,NaN,NaN,NaN,NaN,NaN,a,b,B,A,B
1,31,e,q,a,0.290444,0.303906,t28,0,11,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
2,49,c,k,a,0.290444,0.070550,t28,0,8,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
3,55,e,l,a,0.231375,0.023878,i37,3,8,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,A,A
4,62,d,e,a,0.438115,-0.069464,i37,0,4,T,...,NaN,NaN,NaN,NaN,NaN,a,b,B,B,A

# Split Ocupation

In [17]:
ocupation = train_info[['OCCUPATION']]
split_major = []
split_minor = []
for i in ocupation.values:
    if i == ['NANA']:
        print(i)
        split_major.append(np.nan)
        split_minor.append(np.nan)
    else:
        split = list(i[0])
        split_major.append(split[0])
        if len(split) == 3:
            split_minor.append(str(int(float(split[1]+split[2]))))
        elif len(split) == 2:
            split_minor.append(str(int(float(split[1]))))
        else:
            print("RRR")

['NANA']
['NANA']
['NANA']
['NANA']
['NANA']
['NANA']
['NANA']
['NANA']

In [18]:
split_occupation_df = pd.DataFrame([split_major,split_minor])
split_occupation_df.head()

,0,1,2,3,4,5,6,7,8,9,...,229494,229495,229496,229497,229498,229499,229500,229501,229502,229503
0,t,t,t,i,i,a,i,t,s,q,...,d,i,d,i,r,e,n,i,u,i
1,28,28,28,37,37,37,37,28,32,37,...,32,37,32,37,32,37,37,37,37,37

In [19]:
split_occupation_df = split_occupation_df.T
split_occupation_df.columns = ["MAJOR_CAT", "MINOR_CAT"]

# Concat two data

In [20]:
# train_info = train_info.drop(['OCCUPATION'],axis=1)
train_info = pd.concat([train_info, split_occupation_df], axis=1)
train_info.drop(["OCCUPATION"], axis = 1)

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUY_YEAR,CITY_CODE,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
0,1,e,h,a,0.379047,0.163892,2,6,T,m,...,NaN,NaN,NaN,a,b,B,A,B,t,28
1,31,e,q,a,0.290444,0.303906,0,11,T,c,...,NaN,NaN,NaN,a,a,B,B,A,t,28
2,49,c,k,a,0.290444,0.070550,0,8,T,q,...,NaN,NaN,NaN,a,a,B,B,A,t,28
3,55,e,l,a,0.231375,0.023878,3,8,T,i,...,NaN,NaN,NaN,a,a,B,A,A,i,37
4,62,d,e,a,0.438115,-0.069464,0,4,T,r,...,NaN,NaN,NaN,a,b,B,B,A,i,37
5,84,c,i,a,0.349512,0.023878,0,10,T,h,...,NaN,NaN,NaN,a,b,B,B,B,a,37
6,99,g,f,a,0.231375,0.070550,0,10,T,o,...,b,b,b,a,a,B,B,A,i,37
7,107,d,g,a,0.142772,-0.442835,2,4,T,u,...,b,a,a,a,b,B,B,A,t,28
8,112,e,k,a,0.142772,0.070550,3,10,T,r,...,NaN,NaN,NaN,a,a,B,B,A,s,32
9,115,d,e,b,0.674390,0.770620,0,12,T,q,...,NaN,NaN,NaN,a,b,A,B,B,q,37
10,116,e,o,b,0.319978,0.723948,0,11,T,q,...,NaN,NaN,NaN,a,a,B,B,B,q,37
11,131,a,g,b,0.526718,0.397249,0,11,T,d,...,NaN,NaN,NaN,a,a,B,B,B,d,32
12,140,e,i,b,0.674390,1.284004,0,2,T,w,...,NaN,NaN,NaN,a,a,B,B,A,d,12
13,148,a,a,b,-3.046932,-2.356360,0,2,T,h,...,NaN,NaN,NaN,a,a,A,A,A,q,37
14,153,e,e,b,0.674390,0.630606,0,1,T,r,...,NaN,NaN,NaN,a,a,B,A,A,b,28
15,160,d,j,a,0.231375,0.537263,3,12,T,e,...,NaN,NaN,NaN,a,b,B,A,A,i,37
16,161,e,n,b,0.703924,0.490592,0,7,T,t,...,NaN,NaN,NaN,a,a,B,A,A,t,28
17,168,c,k,a,0.142772,-0.536178,3,9,T,g,...,NaN,NaN,NaN,a,a,B,B,A,r,37
18,184,a,j,a,NaN,NaN,2,11,T,h,...,NaN,NaN,NaN,a,a,A,B,B,t,28
19,204,b,f,a,0.290444,1.424018,0,3,T,c,...,NaN,NaN,NaN,a,b,A,B,A,a,37
20,218,c,g,b,0.674390,1.190662,0,2,T,p,...,NaN,NaN,NaN,a,a,B,B,A,i,37
21,245,f,e,b,0.674390,0.537263,0,3,T,c,...,NaN,NaN,NaN,a,a,B,B,B,i,37
22,247,d,m,a,-0.004899,-0.302821,2,11,T,b,...,NaN,NaN,NaN,a,a,B,B,B,t,28
23,266,a,d,a,0.172307,-0.302821,0,12,T,m,...,NaN,NaN,NaN,a,a,B,B,A,q,37
24,269,d,g,a,0.290444,0.303906,0,7,T,f,...,NaN,NaN,NaN,a,a,B,B,A,d,32
25,289,d,j,a,0.054169,0.117221,0,11,T,m,...,NaN,NaN,NaN,a,b,A,B,A,t,28
26,297,a,j,a,NaN,NaN,2,9,T,m,...,NaN,NaN,NaN,a,b,A,B,A,t,28
27,308,e,g,a,0.201841,0.537263,0,6,T,e,...,NaN,NaN,NaN,a,a,A,A,B,s,32
28,311,a,k,a,NaN,NaN,3,5,T,t,...,b,a,a,a,a,B,A,B,t,28
29,314,e,p,a,-0.152571,-0.536178,0,10,T,i,...,NaN,NaN,NaN,a,a,B,B,A,i,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229474,2991073,a,i,a,NaN,NaN,0,4,T,c,...,b,a,a,b,b,B,B,A,q,37
229475,2991076,e,i,a,0.438115,0.537263,0,1,T,h,...,NaN,NaN,NaN,a,b,B,B,A,i,37
229476,2991077,d,h,a,0.349512,0.210564,4,3,T,q,...,NaN,NaN,NaN,a,b,A,B,B,s,32
229477,2991091,a,h,a,NaN,NaN,0,10,T,q,...,NaN,NaN,NaN,a,b,B,B,A,d,32
229478,2991092,f,d,a,0.556252,0.163892,0,8,T,k,...,NaN,NaN,NaN,a,a,B,A,A,q,37
229479,2991100,a,i,b,0.881130,1.003976,0,1,T,a,...,NaN,NaN,NaN,a,a,B,B,A,i,37
229480,2991117,e,m,a,0.054169,0.863962,0,8,T,l,...,NaN,NaN,NaN,a,a,A,B,B,q,37
229481,2991147,b,i,a,-0.004899,-0.442835,0,11,T,d,...,NaN,NaN,NaN,a,a,B,B,A,i,37
229482,2991148,d,h,b,0.438115,0.443920,0,9,T,p,...,NaN,NaN,NaN,a,a,B,B,A,e,37
229483,2991165,e,h,b,0.644855,0.537263,2,12,T,t,...,NaN,NaN,NaN,a,b,B,B,A,i,37
229484,2991183,e,m,a,0.290444,0.070550,0,12,T,h,...,NaN,NaN,NaN,a,a,B,B,B,t,28
229485,2991184,a,i,a,0.172307,0.070550,0,11,T,c,...,NaN,NaN,NaN,a,b,B,B,B,i,37
229486,2991229,d,c,b,-0.004899,-0.862877,0,3,T,o,...,NaN,NaN,NaN,a,a,B,B,B,i,37
229487,2991235,a,j,a,NaN,NaN,2,11,T,h,...,NaN,NaN,NaN,a,b,B,B,A,t,28
229488,2991240,a,d,b,NaN,NaN,0,6,T,k,...,NaN,NaN,NaN,a,a,B,B,A,i,37
229489,2991253,e,n,a,-0.004899,-0.489507,2,6,T,a,...,b,a,a,a,b,B,B,A,t,28
229490,2991261,d,e,b,0.497184,-0.256150,0,12,T,p,...,NaN,NaN,NaN,a,a,B,B,B,s,32
229491,2991263,e,p,a,-0.004899,-0.162807,0,6,T,w,...,NaN,NaN,NaN,a,a,B,B,B,i,37
229492,2991264,d,j,a,0.231375,0.210564,0,4,T,v,...,NaN,NaN,NaN,a,a,B,B,A,d,32
229493,2991272,g,j,b,0.467650,0.677277,0,9,T,i,...,NaN,NaN,NaN,a,a,B,A,A,m,28
229494,2991279,f,e,a,0.408581,0.350578,0,7,T,v,...,NaN,NaN,NaN,a,b,B,B,A,d,32
229495,2991297,a,m,a,0.231375,0.443920,0,5,T,d,...,NaN,NaN,NaN,a,b,B,B,A,i,37
229496,2991313,f,f,a,0.142772,-0.396164,0,5,T,g,...,b,a,b,a,b,B,B,B,d,32
229497,2991316,e,g,a,0.231375,-0.116136,0,6,T,e,...,NaN,NaN,NaN,a,b,B,B,B,i,37
229498,2991353,e,j,a,-0.034434,0.537263,0,10,T,p,...,NaN,NaN,NaN,a,b,B,B,A,r,32
229499,2991365,d,a,b,-2.840192,-2.263017,0,5,T,f,...,NaN,NaN,NaN,a,a,B,B,B,e,37
229500,2991374,c,k,b,0.526718,1.003976,0,8,T,j,...,NaN,NaN,NaN,a,a,B,B,B,n,37
229501,2991391,c,c,a,-0.329777,-1.236248,0,4,T,r,...,NaN,NaN,NaN,a,a,A,A,B,i,37
229502,2991429,a,m,b,0.585787,0.770620,0,5,T,g,...,NaN,NaN,NaN,a,b,A,B,A,u,37
229503,2991434,e,m,a,-0.152571,0.537263,0,8,T,v,...,NaN,NaN,NaN,a,a,B,B,A,i,37

In [21]:
train_info.to_csv('/home/math/putintostyle/cathay2018/cathay2018/process_data/split_data/train_data_split_occupation.csv',index=False)

In [22]:
train_info.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,OCCUPATION,CHILD_NUM,BUY_MONTH,BUY_YEAR,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
0,1,e,h,a,0.379047,0.163892,t28,2,6,T,...,NaN,NaN,NaN,a,b,B,A,B,t,28
1,31,e,q,a,0.290444,0.303906,t28,0,11,T,...,NaN,NaN,NaN,a,a,B,B,A,t,28
2,49,c,k,a,0.290444,0.070550,t28,0,8,T,...,NaN,NaN,NaN,a,a,B,B,A,t,28
3,55,e,l,a,0.231375,0.023878,i37,3,8,T,...,NaN,NaN,NaN,a,a,B,A,A,i,37
4,62,d,e,a,0.438115,-0.069464,i37,0,4,T,...,NaN,NaN,NaN,a,b,B,B,A,i,37

In [23]:
for i in train_info.MINOR_CAT.values:
    if type(i) != str:
        print(i)

nan
nan
nan
nan
nan
nan
nan
nan