In [81]:
import pandas as pd
import numpy as np

In [82]:
path = "/home/math/putintostyle/cathay2018/raw_data/"

In [83]:
train_info = pd.read_csv(path+"train_data_concat.csv")

In [84]:
train_info.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,OCCUPATION,CHILD_NUM,BUY_MONTH,BUY_YEAR,...,INTEREST6,INTEREST7,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME
0,1,e,h,a,0.379047,0.163892,t28,2,6,T,...,NaN,NaN,NaN,NaN,NaN,a,b,B,A,B
1,31,e,q,a,0.290444,0.303906,t28,0,11,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
2,49,c,k,a,0.290444,0.070550,t28,0,8,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
3,55,e,l,a,0.231375,0.023878,i37,3,8,T,...,NaN,NaN,NaN,NaN,NaN,a,a,B,A,A
4,62,d,e,a,0.438115,-0.069464,i37,0,4,T,...,NaN,NaN,NaN,NaN,NaN,a,b,B,B,A

# Split Ocupation

In [85]:
ocupation = train_info[['OCCUPATION']]
split_major = []
split_minor = []
for i in ocupation.values:
    if i == ['NANA']:
        split_major.append(i)
        split_minor.append(i)
    split = list(i[0])
    split_major.append(split[0])
    if len(split) == 3:
        split_minor.append(int(split[1]+split[2]))
    elif len(split) == 2:
        split_minor.append(int(split[1]))

In [86]:
split_occupation_df = pd.DataFrame([split_major,split_minor])
split_occupation_df.head()

,0,1,2,3,4,5,6,7,8,9,...,229502,229503,229504,229505,229506,229507,229508,229509,229510,229511
0,t,t,t,i,i,a,i,t,s,q,...,d,i,d,i,r,e,n,i,u,i
1,28,28,28,37,37,37,37,28,32,37,...,37,37,None,None,None,None,None,None,None,None

In [87]:
split_occupation_df = split_occupation_df.T
split_occupation_df.columns = ["MAJOR_CAT", "MINOR_CAT"]

# Concat two data

In [88]:
# train_info = train_info.drop(['OCCUPATION'],axis=1)
train_info = pd.concat([train_info, split_occupation_df], axis=1)
train_info.drop(["OCCUPATION"], axis = 1)

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUY_YEAR,CITY_CODE,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
0,1.0,e,h,a,0.379047,0.163892,2.0,6.0,T,m,...,NaN,NaN,NaN,a,b,B,A,B,t,28
1,31.0,e,q,a,0.290444,0.303906,0.0,11.0,T,c,...,NaN,NaN,NaN,a,a,B,B,A,t,28
2,49.0,c,k,a,0.290444,0.070550,0.0,8.0,T,q,...,NaN,NaN,NaN,a,a,B,B,A,t,28
3,55.0,e,l,a,0.231375,0.023878,3.0,8.0,T,i,...,NaN,NaN,NaN,a,a,B,A,A,i,37
4,62.0,d,e,a,0.438115,-0.069464,0.0,4.0,T,r,...,NaN,NaN,NaN,a,b,B,B,A,i,37
5,84.0,c,i,a,0.349512,0.023878,0.0,10.0,T,h,...,NaN,NaN,NaN,a,b,B,B,B,a,37
6,99.0,g,f,a,0.231375,0.070550,0.0,10.0,T,o,...,b,b,b,a,a,B,B,A,i,37
7,107.0,d,g,a,0.142772,-0.442835,2.0,4.0,T,u,...,b,a,a,a,b,B,B,A,t,28
8,112.0,e,k,a,0.142772,0.070550,3.0,10.0,T,r,...,NaN,NaN,NaN,a,a,B,B,A,s,32
9,115.0,d,e,b,0.674390,0.770620,0.0,12.0,T,q,...,NaN,NaN,NaN,a,b,A,B,B,q,37
10,116.0,e,o,b,0.319978,0.723948,0.0,11.0,T,q,...,NaN,NaN,NaN,a,a,B,B,B,q,37
11,131.0,a,g,b,0.526718,0.397249,0.0,11.0,T,d,...,NaN,NaN,NaN,a,a,B,B,B,d,32
12,140.0,e,i,b,0.674390,1.284004,0.0,2.0,T,w,...,NaN,NaN,NaN,a,a,B,B,A,d,12
13,148.0,a,a,b,-3.046932,-2.356360,0.0,2.0,T,h,...,NaN,NaN,NaN,a,a,A,A,A,q,37
14,153.0,e,e,b,0.674390,0.630606,0.0,1.0,T,r,...,NaN,NaN,NaN,a,a,B,A,A,b,28
15,160.0,d,j,a,0.231375,0.537263,3.0,12.0,T,e,...,NaN,NaN,NaN,a,b,B,A,A,i,37
16,161.0,e,n,b,0.703924,0.490592,0.0,7.0,T,t,...,NaN,NaN,NaN,a,a,B,A,A,t,28
17,168.0,c,k,a,0.142772,-0.536178,3.0,9.0,T,g,...,NaN,NaN,NaN,a,a,B,B,A,r,37
18,184.0,a,j,a,NaN,NaN,2.0,11.0,T,h,...,NaN,NaN,NaN,a,a,A,B,B,t,28
19,204.0,b,f,a,0.290444,1.424018,0.0,3.0,T,c,...,NaN,NaN,NaN,a,b,A,B,A,a,37
20,218.0,c,g,b,0.674390,1.190662,0.0,2.0,T,p,...,NaN,NaN,NaN,a,a,B,B,A,i,37
21,245.0,f,e,b,0.674390,0.537263,0.0,3.0,T,c,...,NaN,NaN,NaN,a,a,B,B,B,i,37
22,247.0,d,m,a,-0.004899,-0.302821,2.0,11.0,T,b,...,NaN,NaN,NaN,a,a,B,B,B,t,28
23,266.0,a,d,a,0.172307,-0.302821,0.0,12.0,T,m,...,NaN,NaN,NaN,a,a,B,B,A,q,37
24,269.0,d,g,a,0.290444,0.303906,0.0,7.0,T,f,...,NaN,NaN,NaN,a,a,B,B,A,d,32
25,289.0,d,j,a,0.054169,0.117221,0.0,11.0,T,m,...,NaN,NaN,NaN,a,b,A,B,A,t,28
26,297.0,a,j,a,NaN,NaN,2.0,9.0,T,m,...,NaN,NaN,NaN,a,b,A,B,A,t,28
27,308.0,e,g,a,0.201841,0.537263,0.0,6.0,T,e,...,NaN,NaN,NaN,a,a,A,A,B,s,32
28,311.0,a,k,a,NaN,NaN,3.0,5.0,T,t,...,b,a,a,a,a,B,A,B,t,28
29,314.0,e,p,a,-0.152571,-0.536178,0.0,10.0,T,i,...,NaN,NaN,NaN,a,a,B,B,A,i,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229482,2991148.0,d,h,b,0.438115,0.443920,0.0,9.0,T,p,...,NaN,NaN,NaN,a,a,B,B,A,q,37
229483,2991165.0,e,h,b,0.644855,0.537263,2.0,12.0,T,t,...,NaN,NaN,NaN,a,b,B,B,A,i,37
229484,2991183.0,e,m,a,0.290444,0.070550,0.0,12.0,T,h,...,NaN,NaN,NaN,a,a,B,B,B,s,28
229485,2991184.0,a,i,a,0.172307,0.070550,0.0,11.0,T,c,...,NaN,NaN,NaN,a,b,B,B,B,d,37
229486,2991229.0,d,c,b,-0.004899,-0.862877,0.0,3.0,T,o,...,NaN,NaN,NaN,a,a,B,B,B,q,37
229487,2991235.0,a,j,a,NaN,NaN,2.0,11.0,T,h,...,NaN,NaN,NaN,a,b,B,B,A,i,28
229488,2991240.0,a,d,b,NaN,NaN,0.0,6.0,T,k,...,NaN,NaN,NaN,a,a,B,B,A,q,37
229489,2991253.0,e,n,a,-0.004899,-0.489507,2.0,6.0,T,a,...,b,a,a,a,b,B,B,A,i,28
229490,2991261.0,d,e,b,0.497184,-0.256150,0.0,12.0,T,p,...,NaN,NaN,NaN,a,a,B,B,B,e,32
229491,2991263.0,e,p,a,-0.004899,-0.162807,0.0,6.0,T,w,...,NaN,NaN,NaN,a,a,B,B,B,i,37
229492,2991264.0,d,j,a,0.231375,0.210564,0.0,4.0,T,v,...,NaN,NaN,NaN,a,a,B,B,A,t,32
229493,2991272.0,g,j,b,0.467650,0.677277,0.0,9.0,T,i,...,NaN,NaN,NaN,a,a,B,A,A,i,28
229494,2991279.0,f,e,a,0.408581,0.350578,0.0,7.0,T,v,...,NaN,NaN,NaN,a,b,B,B,A,i,32
229495,2991297.0,a,m,a,0.231375,0.443920,0.0,5.0,T,d,...,NaN,NaN,NaN,a,b,B,B,A,t,37
229496,2991313.0,f,f,a,0.142772,-0.396164,0.0,5.0,T,g,...,b,a,b,a,b,B,B,B,i,32
229497,2991316.0,e,g,a,0.231375,-0.116136,0.0,6.0,T,e,...,NaN,NaN,NaN,a,b,B,B,B,t,37
229498,2991353.0,e,j,a,-0.034434,0.537263,0.0,10.0,T,p,...,NaN,NaN,NaN,a,b,B,B,A,s,32
229499,2991365.0,d,a,b,-2.840192,-2.263017,0.0,5.0,T,f,...,NaN,NaN,NaN,a,a,B,B,B,i,37
229500,2991374.0,c,k,b,0.526718,1.003976,0.0,8.0,T,j,...,NaN,NaN,NaN,a,a,B,B,B,d,37
229501,2991391.0,c,c,a,-0.329777,-1.236248,0.0,4.0,T,r,...,NaN,NaN,NaN,a,a,A,A,B,m,37
229502,2991429.0,a,m,b,0.585787,0.770620,0.0,5.0,T,g,...,NaN,NaN,NaN,a,b,A,B,A,d,37
229503,2991434.0,e,m,a,-0.152571,0.537263,0.0,8.0,T,v,...,NaN,NaN,NaN,a,a,B,B,A,i,37
229504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d,None
229505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,i,None
229506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,r,None
229507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e,None
229508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n,None
229509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,i,None
229510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,u,None
229511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,i,None

In [89]:
train_info.to_csv('/home/math/putintostyle/cathay2018/process_data/split_data/train_data_split_occupation.csv',na_rep = "NA")

In [90]:
train_info.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,OCCUPATION,CHILD_NUM,BUY_MONTH,BUY_YEAR,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
0,1.0,e,h,a,0.379047,0.163892,t28,2.0,6.0,T,...,NaN,NaN,NaN,a,b,B,A,B,t,28
1,31.0,e,q,a,0.290444,0.303906,t28,0.0,11.0,T,...,NaN,NaN,NaN,a,a,B,B,A,t,28
2,49.0,c,k,a,0.290444,0.070550,t28,0.0,8.0,T,...,NaN,NaN,NaN,a,a,B,B,A,t,28
3,55.0,e,l,a,0.231375,0.023878,i37,3.0,8.0,T,...,NaN,NaN,NaN,a,a,B,A,A,i,37
4,62.0,d,e,a,0.438115,-0.069464,i37,0.0,4.0,T,...,NaN,NaN,NaN,a,b,B,B,A,i,37