In [1]:
import pandas as pd
import numpy as np

In [4]:
path = "/home/math/putintostyle/cathay2018/process_data/"

In [5]:
dummy_df = pd.read_csv(path+"dummy_variable.csv")
dummy_df.head()

,Unnamed: 0,CUST_ID,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUDGET,BUY_TYPE_a,BUY_TYPE_b,BUY_TYPE_c,...,IS_APP_a,IS_APP_b,IS_SPECIALMEMBER_a,IS_SPECIALMEMBER_b,PARENTS_DEAD_A,PARENTS_DEAD_B,REAL_ESTATE_HAVE_A,REAL_ESTATE_HAVE_B,IS_MAJOR_INCOME_A,IS_MAJOR_INCOME_B
0,0,1,0.379047,0.163892,2,6,-0.247343,0,0,0,...,1,0,0,1,0,1,1,0,0,1
1,1,31,0.290444,0.303906,0,11,-0.126387,0,0,0,...,1,0,1,0,0,1,0,1,1,0
2,2,49,0.290444,0.070550,0,8,-0.192011,0,0,1,...,1,0,1,0,0,1,0,1,1,0
3,3,55,0.231375,0.023878,3,8,-0.245155,0,0,0,...,1,0,1,0,0,1,1,0,1,0
4,4,62,0.438115,-0.069464,0,4,-0.233151,0,0,0,...,1,0,0,1,0,1,0,1,1,0