In [26]:
import sys
import pandas as pd

In [27]:
predict_answer = sys.argv[1]

In [28]:
path = "/home/math/putintostyle/cathay2018/raw_data/"

In [29]:
compare_df = pd.read_csv(path+"Submmit_Sample_testing_Set.csv")
compare_arr = compare_df.values

In [36]:
input_df = pd.read_csv(predict_answer)
input_arr = input_df.values
input_arr[:,1]

array(['a', 'b', 'a', ..., 'a', 'a', 'a'], dtype=object)

In [39]:
error = 0
Erroe_array = []
length_input = len(input_arr)
length_compare = len(compare_arr)

if length_input == length_compare:
    for i in range(len(input_arr)):
        if input_arr[i][1] != compare_arr[j][1]:
            error += 1
            Erroe_array.append(1)
        else:
            Erroe_array.append(0)
print("Your Score is : " + str(1-(error/len(input_arr))))

Your Score is : 0.9999

In [44]:
Result = pd.DataFrame()
Result.head()
result_cols = ["CUST_ID","True_BUY_TYPE","Predict_BUY_TYPE", "ERROR"]
Result.columes = result_cols
Result["CUST_ID"] = input_arr[:,0]
Result["True_BUY_TYPE"] = input_arr[:,1]
Result["Predict_BUY_TYPE"] = compare_arr[:,1]
Result["ERROR"] = Erroe_array

Result.to_csv("match.csv")

/home/math/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

   CUST_ID True_BUY_TYPE Predict_BUY_TYPE  ERROR
0  2353325             a                a      0
1  1097571             b                a      1
2  2795034             a                a      0
3    48210             a                a      0
4  1582776             a                a      0