In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [45]:
path = "/home/math/putintostyle/cathay2018/cathay2018/process_data/split_data/"

In [46]:
data = ["a","b","c","d","e","f","g"]

In [47]:
Train_df = pd.DataFrame()
Test_df = pd.DataFrame()

In [48]:
for i in data:
    df = pd.read_csv(path+"train_data_buy_type_"+i+".csv")
    df = df.drop(['OCCUPATION'],axis = 1)
    df.MINOR_CAT = df.MINOR_CAT.astype(str)
    X_train, X_test = train_test_split(df, test_size=0.05)
    Train_df = pd.concat([Train_df, X_train])
    Test_df = pd.concat([Test_df, X_test])

In [49]:
Train_df.shape
Test_df.shape

(11479, 48)

In [50]:
Test_df = shuffle(Test_df)
Test_df.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUY_YEAR,CITY_CODE,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
18381,880170,a,f,a,0.615321,0.537263,0,10,T,a,...,NaN,NaN,NaN,a,b,B,B,A,t,28.0
3454,161124,d,e,b,0.703924,0.210564,0,7,T,n,...,NaN,NaN,NaN,a,b,B,B,A,q,37.0
16941,2008409,c,a,a,-2.131369,-1.936318,0,4,T,a,...,NaN,NaN,NaN,a,a,B,B,A,a,37.0
17469,825007,d,h,b,0.438115,0.443920,0,2,T,b,...,NaN,NaN,NaN,a,b,B,B,B,i,37.0
48276,2271718,e,a,a,-2.190438,-2.029661,0,10,T,m,...,NaN,NaN,NaN,a,a,A,B,A,i,37.0

In [51]:
y_Train = Train_df[['CUST_ID','BUY_TYPE']]
y_Test = Test_df[['CUST_ID','BUY_TYPE']]

In [52]:
Train_df = Train_df.drop(['BUY_TYPE'],axis = 1)
Test_df = Test_df.drop(['BUY_TYPE'],axis = 1)

Train_df.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/X_train.csv",index=False)
Test_df.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/X_test.csv",index=False)

y_Train.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/y_train.csv",index=False)
y_Test.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/y_test.csv",index=False)

In [53]:
for i in Train_df.MINOR_CAT.values:
    if type(i) != str :
        print(i)