In [143]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [144]:
path = "/home/math/putintostyle/cathay2018/process_data/split_data/"

In [145]:
data = ["a","b","c","d","e","f","g"]

In [146]:
Train_df = pd.DataFrame()
Test_df = pd.DataFrame()

In [147]:
for i in data:
    df = pd.read_csv(path+"train_data_buy_type_"+i+".csv")
    df = df.drop(['OCCUPATION'],axis = 1)
    X_train, X_test = train_test_split(df, test_size=0.05)
    Train_df = pd.concat([Train_df, X_train])
    Test_df = pd.concat([Test_df, X_test])

/home/math/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [148]:
Train_df.shape
Test_df.shape

(11479, 48)

In [149]:
Test_df = shuffle(Test_df)
Test_df.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUY_YEAR,CITY_CODE,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
28403,1341902.0,d,f,a,0.349512,1.003976,0.0,2.0,T,l,...,NaN,NaN,NaN,b,b,B,B,A,q,37
41961,1968631.0,e,d,a,0.260909,-0.209478,0.0,7.0,T,t,...,NaN,NaN,NaN,a,a,B,B,A,e,37
61554,2919683.0,a,i,a,NaN,NaN,0.0,5.0,T,t,...,NaN,NaN,NaN,a,b,A,A,B,m,37
52689,2500838.0,a,j,b,0.703924,1.143990,0.0,2.0,T,r,...,NaN,NaN,NaN,a,a,B,A,A,e,37
49766,2362877.0,a,d,b,NaN,NaN,0.0,2.0,T,i,...,NaN,NaN,NaN,a,a,B,B,B,r,37

In [150]:
y_Train = Train_df[['CUST_ID','BUY_TYPE']]
y_Test = Test_df[['CUST_ID','BUY_TYPE']]

In [151]:
Train_df = Train_df.drop(['BUY_TYPE'],axis = 1)
Test_df = Test_df.drop(['BUY_TYPE'],axis = 1)

Train_df.to_csv("/home/math/putintostyle/cathay2018/Splitting_data/X_train.csv",na_rep = "NA")
Test_df.to_csv("/home/math/putintostyle/cathay2018/Splitting_data/X_test.csv",na_rep = "NA")

y_Train.to_csv("/home/math/putintostyle/cathay2018/Splitting_data/y_train.csv",na_rep = "NA")
y_Test.to_csv("/home/math/putintostyle/cathay2018/Splitting_data/y_test.csv",na_rep = "NA")