In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [35]:
path = "/home/math/putintostyle/cathay2018/cathay2018/process_data/split_data/"

In [36]:
data = ["a","b","c","d","e","f","g"]

In [37]:
Train_df = pd.DataFrame()
Test_df = pd.DataFrame()

In [38]:
for i in data:
    df = pd.read_csv(path+"train_data_buy_type_"+i+".csv")
    df = df.drop(['OCCUPATION'],axis = 1)
    X_train, X_test = train_test_split(df, test_size=0.05)
    Train_df = pd.concat([Train_df, X_train])
    Test_df = pd.concat([Test_df, X_test])

In [39]:
Train_df.shape
Test_df.shape

(11479, 48)

In [40]:
Test_df = shuffle(Test_df)
Test_df.head()

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUY_YEAR,CITY_CODE,...,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME,MAJOR_CAT,MINOR_CAT
44563,2110872,d,n,b,0.556252,1.237333,0,8,T,e,...,NaN,NaN,NaN,a,a,B,B,A,l,37.0
17690,2099785,c,j,a,0.349512,-0.069464,1,12,T,b,...,NaN,NaN,NaN,a,a,B,A,A,i,37.0
34963,1639551,e,l,a,-0.004899,-0.536178,1,5,T,g,...,NaN,NaN,NaN,a,a,B,B,B,n,37.0
899,390479,b,h,b,0.733458,1.050648,0,9,T,r,...,NaN,NaN,NaN,a,a,A,A,A,m,28.0
30872,1445040,e,i,b,0.556252,0.863962,0,9,T,g,...,NaN,NaN,NaN,a,a,A,B,B,n,37.0

In [41]:
y_Train = Train_df[['CUST_ID','BUY_TYPE']]
y_Test = Test_df[['CUST_ID','BUY_TYPE']]

In [42]:
Train_df = Train_df.drop(['BUY_TYPE'],axis = 1)
Test_df = Test_df.drop(['BUY_TYPE'],axis = 1)

Train_df.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/X_train.csv",index=False)
Test_df.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/X_test.csv",index=False)

y_Train.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/y_train.csv",index=False)
y_Test.to_csv("/home/math/putintostyle/cathay2018/cathay2018/Splitting_data/y_test.csv",index=False)

In [43]:
for i in Train_df.MINOR_CAT.values:
    if type(i) != np.double :
        print(i)